.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
}

/* 卡片主体风格 */
.doc_card {
    /* 设置宽度 */
    width: 100%;
    /* 设置外边距 */
    margin: 10px auto;
    /* 设置 4 个边框的样式 */
    border: 0;
    /* 设置元素周围的轮廓 */
    outline: 0;
    /* 设置文字大小 */
    font-size: 20px;
    /* 设置圆角 */
    border-radius: 15px;
    /* 设置背景颜色 */
    background-color: var(--Neumorphism-bg);
    /* 设置文字颜色 */
    color: var(--font-color);
    /* 设置元素阴影 */
    /* box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #d1d9e6; */
    box-shadow: inset 1px 1px 2px var(--box-shadow-2), inset -1px -1px 2px var(--box-shadow-1);
    /* 将鼠标悬停在一个元素上，逐步改变元素的宽度 */
    transition: all 0.2s ease-in-out;
    /* 设置文本的粗细 */
    font-weight: 600;
}

.doc_tab .el-tabs__item {
    /* 设置文字颜色 */
    color: var(--font-color) !important;
    /* 设置文本的粗细 */
    font-weight: 600 !important;
    /* 设置文字阴影 */
    text-shadow: 1px 1px 0 var(--text-shadow) !important;
    padding: 0 10px !important;
}

.doc_tab .el-tabs__item.is-active {
    /* 设置文字颜色 */
    color: var(--font-color) !important;
    /* 设置文本的粗细 */
    font-weight: 600 !important;
    /* 设置文字阴影 */
    text-shadow: 1px 1px 0 var(--text-shadow) !important;
}

.doc_tab .el-tabs__active-bar {
    background-color: var(--font-color) !important;
}

.doc_tab .el-tabs__item:hover {
    color: var(--font-color) !important;
}

.el-tabs__nav-wrap::after {
    background-color: var(--box-shadow-2);
}

/* 修改卡片标题样式 */
.mu-card-title {
    /* 设置文字颜色 */
    color: var(--font-color) !important;
    /* 设置文本的粗细 */
    font-weight: 600 !important;
    /* 设置文字阴影 */
    text-shadow: 1px 1px 0 var(--text-shadow) !important;
}

/* 修改卡片副标题样式 */
.mu-card-sub-title {
    /* 设置文字颜色 */
    color: var(--font-color) !important;
    /* 设置文本的粗细 */
    font-weight: 600 !important;
    /* 设置文字阴影 */
    text-shadow: 1px 1px 0 var(--text-shadow) !important;
}

/* 修改卡片主体文本颜色 */
.mu-card-text {
    /* 设置文字颜色 */
    color: var(--font-color) !important;
    /* 设置文本的粗细 */
    font-weight: 600 !important;
    /* 设置文字阴影 */
    text-shadow: 1px 1px 0 var(--text-shadow) !important;
}

.api_url_text {
    /* 设置文字大小 */
    font-size: 16px;
}

.mu-tabs-inverse {
    background-color: var(--Neumorphism-bg) !important;
}

.demo-text {
    word-break: break-all
}

.api_url {
    /* 设置文字颜色 */
    color: var(--font-color);
    /* 设置文本的粗细 */
    font-weight: 600;
    /* 设置文字阴影 */
    text-shadow: 1px 1px 0 var(--text-shadow);
    /* 设置内容与对象下边框的距离 */
    padding-bottom: 1px;
    /* 设置对象下边边框 */
    border-bottom: 1px solid var(--font-color);
    word-wrap: break-word;
    word-break: break-all;
}

.api_url:hover {
    /* 设置文字颜色 */
    color: var(--font-color);
}

.copy_button {
    margin: 10px;
    /* 设置文字大小 */
    font-size: 20px;
}

.copy_button i {
    /* 设置文本的粗细 */
    font-weight: 600;
    /* 设置外右边距 */
    margin-right: 3px;
    /* 设置文字阴影 */
    text-shadow: 1px 1px 0 var(--text-shadow);
}

.fubiaoti {
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
    font-size: 16px;
    border-left: 4px solid var(--font-color);
    padding-left: 5px;
    text-shadow: 1px 1px 0 var(--text-shadow);
}

.cell {
    color: var(--font-color);
    /* 设置文字大小 */
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 1px 0 var(--text-shadow);
}

.el-table, .el-table__expanded-cell {
    background-color: transparent;
}

.el-table th, .el-table tr {
    background-color: transparent;
}

.el-table td, .el-table th.is-leaf {
    border: none;
}

.el-table td {
    border-top: 1px solid var(--box-shadow-2);
}

.el-table::before {
    background-color: transparent;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: transparent;
}

.el-scrollbar__wrap {
    overflow-y: hidden;
}

.el-scrollbar__bar.is-vertical {
    display: none;
}

pre {
    padding: 0;
    font-size: 13px;
    /* background:none; */
}

.hljs {
    background: none !important;
}

.el-table__empty-text {
    color: var(--font-color);
    font-size: 16px;
}
